<div class="h-100 p-5 bg-light border rounded-3">
    <form>
        <h3>Registrar usuario</h3>
        <div class="form-floating mt-3">
            <input type="text" class="form-control" id="usuario">
            <label for="usuario" class="form-label">Usuario</label>
        </div>
        <div class="form-floating mt-3">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <label for="email" class="form-label">Email</label>
        </div>
        <div class="form-floating mt-3">
            <input type="password" class="form-control" id="pass1">
            <label for="pass1" class="form-label">Contraseña</label>
        </div>
        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-secondary" type="submit">Registrar usuario</button>
        </div>
    </form>
</div>