  <div class="h-100 p-5 bg-light border rounded-3">
    <h2>Busca tu alojamiento</h2>
    <div class="card">
    </div>
    <p class="mt-3 mb-1">Selecciona un destino</p>
    <div class="form-floating">
      <input class="form-control"  type="text" placeholder="" id="floatingTextarea">
      <label for="floatingTextarea">ubicación</label>
    </div>

    <div class="row">
        <p class="mt-3 mb-1">Selecciona fechas</p>
        <div class="form-floating col-lg-6 mt-2">
            <input class="form-control"  type="date" placeholder="" id="floatingTextarea">
            <label for="floatingTextarea" style="margin-left: 12px;">Fecha de entrada</label>
        </div>
        <div class="form-floating col-lg-6 mt-2">
            <input class="form-control"  type="date" placeholder="" id="floatingTextarea">    
            <label for="floatingTextarea" style="margin-left: 12px;">Fecha de salida</label>
        </div>
        
        <p class="mt-4 mb-0">Acomodación</p>
        <div class="form-floating col-lg-6 mt-2">
            <select class="form-select" aria-label="Default select example" id="floatingtext">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label for="floatingtext" style="margin-left: 12px;">Número de habitaciones</label>
        </div>
        
          <div class="form-floating col-lg-6 mt-2">
            <select class="form-select" aria-label="Default select example" id="floatingtext">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            <label for="floatingtext" style="margin-left: 12px;">Número de personas</label>
          </div>
    </div>
    <div class="d-grid gap-2 mt-4">
      <button class="btn btn-secondary" type="button">Buscar hoteles</button>
    </div>
  </div>